page-bettingrules {
    .terms-rules li {
        list-style-type: none;
        display: inline-block;
        vertical-align: top;
        min-width: 100px;
        margin: 10px;
    }

    .terms-rules {
       /* padding-left: 10%; */
    }

    .terms-rules li{
        color:#a7a6ae;
    }


}
