page-rules-description {
    div{
        color:#a7a6ae;
    }

    .terms-rules-details table {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
    }

    td{
        
    }

    #foot{
        margin-top: 100px;
    }

    p{
        margin-bottom:0px;
    }
}
