page-gamelist {
    

    .card {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .card-title{
        color: rgb(190, 190, 190);
    }
    /*
    .searchbar-input{
        background: black !important;
        color: white  !important;
    }
*/

}
