page-balance {
    .yellow{
        color: #e0a422;
    }
    
    #balance {
        text-align: left;
    }
    
    
    #balance{
        color:white;
        margin: 0px 20px;
        text-align: center;
        margin-top:20px; 
    }
    
    
}
