page-lotto {


    h6{

    }

    select {
        
          /* styling */
          background-color: #000000;
        color:#8b8b8b !important;        
          border: 1px solid #505050 !important; 
    
        
          margin: 0;      
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
    
      select.classic {
          line-height: initial !important;
          /*
          background-image: url(../assets/caret.png);
          background-repeat: no-repeat;
          background-size: 10px 10px;
          background-position: 96%;
          */
          padding-left:15px !important;
      }

    /*
    .select{
        border: 2px solid #373646;
        width: 100%;
        background-color: #020202;
    }

    select {
        line-height: initial !important;
        font-size: 18px;
        padding: 8px;
        padding-left: 15px !important;
        color:#747474 !important;       
       
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;

          styling 
          
          line-height: initial !important;
          font-size: 15px;
          background-color: #cacacc;
          color:#747474 !important;        
          border-radius: 4px;
          display: inline-block;
          
          font: inherit;
          
          line-height: 1.5em;
           
          padding: 0.5em 8.5em 0.5em 1em;
        
           reset 
        
          margin: 0;      
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          border: 2px solid #373646;
          width: 100%;
          background-color: #020202;
          
        }
        */
    
    .card{
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .body-card { 

        width:100%;
        display: inline-block;
    }

    .contents {
        width: 50%;
        height: 100%;
        display: inline-block;
    }

    .image{
        width:40%;
        display: inline-block;
        vertical-align: top;
    }

    .contents button {
        
    }

    .border-left {
        border-right: 1px dashed #383434;
        border-bottom:  1px dashed #383434;
    }

    .border-right {
        border-bottom:  1px dashed #383434;
    }

    .no-border-bottom {
        border-bottom: 0px !important;
    }

    
    @media only screen 
    and (min-width:0px)
    and (max-width:300px)
    {
        .details {
            display: block !important;
            color:rgb(145, 145, 145) !important;
            margin-bottom: 5px !important;
            font-size: 5px !important;
            white-space: nowrap !important;
        }
        .title h6 {
            color:white;
            font-size:10px ;
            white-space: nowrap;
        }

        .btn-lotto{
            color: black ;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 0.4em;
        }
    }

    @media only screen 
    and (min-width:301px)
    and (max-width:319px)
    {
        .details {
            display: block !important;
            color:rgb(145, 145, 145) !important;
            margin-bottom: 5px !important;
            font-size: 7px !important;
            white-space: nowrap !important;
        }
        .title h6 {
            color:white;
            font-size:11px ; 
            white-space: nowrap;
        }
        .btn-lotto{
            color: black ;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 0.4em;
        }
    }

      

    @media only screen 
    and (min-width:320px)
    and (max-width:359px) {
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 7px ;
            white-space: nowrap;
        }
        .title h6 {
            color:white;
            font-size:11px ;
            white-space: nowrap;
        }
        .btn-lotto{
            color: black ;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 0.5em;
        }
    }

    @media only screen 
    and (min-width:360px)
    and (max-width:460px) {
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 8px ;
            white-space: nowrap;
        }
        .title h6 {
            color:white;
            font-size:14px ;
            white-space: nowrap;
        }
        .btn-lotto{
            color: black ;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 0.6em;
        }

    }

    @media only screen 
    and (min-width:461px)
    and (max-width:599px) {
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 10px ;
            white-space: nowrap;
        }
        .title h6 {
            color:white;
            font-size:16px ;
            white-space: nowrap;
        }
        .btn-lotto{
            color: black ;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 0.6em;
        }

    }

  
    @media only screen 
    and (min-width:600px) 
    and (max-width:700px){
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 14px ;
            white-space: nowrap;
        }


        .title h6 {
            color:white;
            font-size:20px ;
            white-space: nowrap;
           
        }

        .btn-lotto{
            color: black ;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 0.8em;
        }

    }

    @media only screen 
    and (min-width:701px) 
    and (max-width:799px){
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 17px ;
            white-space: nowrap;
        }


        .title h6 {
            color:white;
            font-size:23px ;
            white-space: nowrap;
           
        }

        .btn-lotto{
            color: black ;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 1.2em;
        }

    }

    

    @media only screen and (min-width:800px){
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 15px !important; 
            white-space: nowrap;
        }


        .title h6 {
            color:white;
            font-size:25px;
            white-space: nowrap;
           
        }

        .btn-lotto{
            color: black !important;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 1em;
        }

    }

    @media only screen and (min-width:900px){
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 20px !important; 
            white-space: nowrap;
        }


        .title h6 {
            color:white;
            font-size:30px;
            white-space: nowrap;
           
        }

        .btn-lotto{
            color: black !important;
            height: 1.8em;
            width: 90%;
            border-radius: 3px;
            font-size: 1em;
        }

    }

    @media only screen and (min-width:1000px){
        .details {
            display: block;
            color:rgb(145, 145, 145);
            margin-bottom: 5px;
            font-size: 25px !important; 
            white-space: nowrap;
        }


        .title h6 {
            color:white;
            font-size:35px;
            white-space: nowrap;
           
        }

        .btn-lotto{
            color: black !important;
            height: 2em;
            width: 90%;
            border-radius: 3px;
            font-size: 1.5em;
        }

    }


    .btn-lotto{
        color: black !important;
        margin-top: 10%;
    }

    .title h6 {
        color:white;
        white-space: nowrap;
       
    }


    
    .details {
        
        width: 100%;
        color:rgb(145, 145, 145);
        margin-bottom: 5px;
        white-space: nowrap; 
        
    }
    
    
}
