page-atm-deposit-term{
    .container_margin {
        margin-top: 0px;
    }

    .clubs-account {
        color: #fff;
        margin: 20px auto;
        margin-bottom: 0px;
    }
    
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    /*
    .clubs-row {
        width: 100%;
        margin: 5px 0px;
        float: left;
        position: relative;
    }
    */
    
    .clubs-list-no {
        color: #d8a626;
        float: left;
        margin-right: 5px;
    }

    .clubs-row {
        width: 100%;
        margin: 5px 0px;
        float: left;
        position: relative;
        color:white; 
        text-align: justify;
      }
      
      #clubs{
        margin-left:-30px;
        margin-top: 30px;
        text-align: center;
      }
      
}