page-promotiondetails {

    .vip tbody tr td {
            border: 1px dashed white;
            padding-bottom: 10px;
            padding-top: 10px;
            vertical-align: center;
            background-color: #353535;
    }

    .vip thead tr th {
        padding-bottom: 20px;
        border: 0px !important;
    }

}
