page-transfer {


  .clubs-list-no {
    color: #d8a626;
    float: left;
    margin-right: 5px;
    text-align: justify;
   
  }
  .clubs-row {
    width: 100%;
    margin: 5px 0px;
    float: left;
    position: relative;
    color:white; 
    text-align: justify;
  
  }
  
  #clubs{
    margin-left:-30px;
    margin-top: 30px;
    text-align: center;
  }
  
  select {
    
      /* styling */
      background-color: #cacacc;
    color:#747474 !important;        
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      
      padding: 0.5em 8.5em 0.5em 1em;
    
      /* reset */
    
      margin: 0;      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      
    }
    
    /*
    select.classic {
        background-image:
          linear-gradient(45deg, transparent 50%, white 50%),
          linear-gradient(135deg, white 50%, transparent 50%),
          linear-gradient(to right, grey, grey);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
      }
    */
  
    input[type="text"] {
      padding-left: 15px !important;
    }
  
  
    select.classic {
      line-height: initial !important;
      font-size: 18px;
      background-image: url(../assets/caret.png);
      background-repeat: no-repeat;
      background-size: 10px 10px;
      background-position: 96%;
      padding-left: 15px !important;
    }
  
     .inputt placeholder{
       margin-left:13px;
       padding: 20px;
     }
  
  
  //  #image{
  //    width: 177%; 
  //    margin: 0 auto;
  //    padding-right:50px;
  //  }
   #inputcap{
     width: 142%;
    
   }
   
  
  #one{
    
    width: 100%;;
    position: relative;
    margin: auto;
    border: 2px solid transparent;
    
    border-image: linear-gradient(to right, rgba(83,31,170,1) 0%,rgba(34,117,174,1) 50%,rgba(37,170,108,1) 100%);
    border-image-slice: 1;
    // border: 2px solid green; width: 330px;  padding: 25px;margin: 25px;
  //    border-image: linear-gradient(to right, rgba(83,31,170,1) 0%,rgba(34,117,174,1) 50%,rgba(37,170,108,1) 100%);
    }
   
  #content  {
    margin: auto;
    margin-top: 10px;
   
  }
  
  
}