page-promotion {
    
    select {
        
          /* styling */
          background-color: #000000;
        color:#8b8b8b !important;        
          border: 1px solid #505050 !important; 
    
        
          margin: 0;      
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
    
      select.classic {
          line-height: initial !important;
          /*
          background-image: url(../assets/caret.png);
          background-repeat: no-repeat;
          background-size: 10px 10px;
          background-position: 96%;
          */
          padding-left:15px !important;
      }
      

}
