<ion-header>
    <page-navbar [titleText]="header">
      </page-navbar>    
</ion-header>

              
<ion-content  [fullscreen]="true" class="black-background" #c>

                <page-header></page-header>
    

    <div *ngFor="let list of livecasinoCollection" padding style="padding-bottom:26px;">
                <div *ngFor="let descriptions of list.descriptions" padding-top>
                    <button (click)="play(descriptions.link)" style="color:black" ion-button color=gold full > {{ descriptions.title }}>> </button>

                        <div *ngFor="let detail of descriptions.description" padding>
                       
                                        <h5 style="color:white"> {{ detail.dtitle }}</h5>
                                        <p style="color:gray"> {{ detail.detail }}</p>
                        </div>
          
                        <div *ngFor="let image of descriptions.images" padding>
                                <img width="100%" src="./assets/live casino/{{ category }}/{{ image.image }}.jpg" alt="">
                        </div>

                </div>
    </div>

    
    <page-footer [content]="c">
        
      </page-footer>

</ion-content>
<ion-footer>
  <page-tabs2></page-tabs2>
</ion-footer>
              
